{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle":[
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "comma-dangle": "off",
    "object-curly-newline": ["error", {
      "ObjectPattern": "never"
  }]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  }
}